Options -Indexes +FollowSymLinks -MultiViews
DirectoryIndex index.php

# Enable mod_rewrite for URL routing
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^ index.php [NC,L]

RewriteRule ^we-welcome-you/?$ index.php [NC,L]
RewriteRule ^login/?$ login.php [NC,L]
RewriteRule ^register/?$ register.php [NC,L]
RewriteRule ^forgotten/?$ forgotten.php [NC,L]
RewriteRule ^reset/?$ reset.php [NC,L]
RewriteRule ^logout/?$ app/auth-logout.php [NC,L]
RewriteRule ^stack/?$ stack.php [NC,L]
RewriteRule ^screening/?$ screening.php [NC,L]
RewriteRule ^screening2/?$ screening_page2.php [NC,L]
RewriteRule ^screening3/?$ screening_page3.php [NC,L]

#onboarding CEOs
RewriteRule ^hire/?$ hire/error.php [NC,L]
RewriteRule ^hire/new/?$ hire/onboarding_step1.php [NC,L]
RewriteRule ^hire/company-size/?$ hire/onboarding_step2.php [NC,L]
RewriteRule ^hire/situation/?$ hire/onboarding_step3.php [NC,L]
RewriteRule ^hire/project-length/?$ hire/onboarding_step4.php [NC,L]
RewriteRule ^hire/commitment/?$ hire/onboarding_step5.php [NC,L]
RewriteRule ^hire/ready-to-start/?$ hire/onboarding_step6.php [NC,L]
RewriteRule ^hire/contacts/?$ hire/onboarding_step7.php [NC,L]

#dashboard
RewriteRule ^dashboard/?$ app/index.php [NC,L]
RewriteRule ^dashboard/setting/?$ app/forms-validation.php [NC,L]
RewriteRule ^dashboard/profile/?$ app/profile.php [NC,L]
RewriteRule ^dashboard/delete/?$ app/delete_account.php [NC,L]
RewriteRule ^dashboard/report/?$ app/report.php [NC,L]
RewriteRule ^dashboard/resume/?$ app/resume.php [NC,L]
RewriteRule ^dashboard/manage/?$ app/manage_sub.php [NC,L]
RewriteRule ^dashboard/developers/?$ app/meet_dev.php [NC,L]
RewriteRule ^dashboard/subscriptions/?$ app/subscriptions.php [NC,L]
RewriteRule ^dashboard/candidate-profile/?$ app/candidate.php [NC,L]
RewriteRule ^dashboard/error/?$ app/error-404.php [NC,L]
RewriteRule ^dashboard/myprofile/?$ app/myprofile.php [NC,L]
RewriteRule ^dashboard/skills/?$ app/add_skills.php [NC,L]
RewriteRule ^dashboard/myrequest/?$ app/request.php [NC,L]
RewriteRule ^dashboard/search/?$ app/search.php [NC,L]
RewriteRule ^dashboard/support-ticket/?$ app/support_ticket.php [NC,L]
RewriteRule ^dashboard/widgets/?$ app/widgets.php [NC,L]
RewriteRule ^dashboard/viewticket/?$ app/viewticket.php [NC,L]
RewriteRule ^dashboard/change-plan/?$ app/change_plan.php [NC,L]

#CEO routes
RewriteRule ^dashboard/mycompany/?$ app/mycompany.php [NC,L]
RewriteRule ^dashboard/company/?$ app/company.php [NC,L]
RewriteRule ^dashboard/sentrequest/?$ app/sentrequest.php [NC,L]
RewriteRule ^dashboard/setup/?$ app/setup_company.php [NC,L]

#Admin authentication routes
RewriteRule ^admin/log/login?$ admin_login/login.php [NC,L]
RewriteRule ^admin/log/logout?$ admin_login/logout.php [NC,L]

#Admin management panel routes
RewriteRule ^admin/dashboard/?$ admin/index.php [NC,L]
RewriteRule ^admin/dashboard/home?$ admin/index.php [NC,L]
RewriteRule ^admin/dashboard/users_management?$ admin/users_management.php [NC,L]
RewriteRule ^admin/dashboard/settings?$ admin/settings.php [NC,L]
RewriteRule ^admin/dashboard/reports?$ admin/reported.php [NC,L]
RewriteRule ^admin/dashboard/transactions?$ admin/transactions.php [NC,L]
RewriteRule ^admin/dashboard/subscriptions?$ admin/subscriptions.php [NC,L]
RewriteRule ^admin/dashboard/search_ranking?$ admin/search_ranking.php [NC,L]
RewriteRule ^admin/dashboard/messages?$ admin/messages.php [NC,L]
RewriteRule ^admin/dashboard/job_post?$ admin/job_post.php [NC,L]
RewriteRule ^admin/dashboard/notifications?$ admin/notifications.php [NC,L]
RewriteRule ^admin/dashboard/admin_account?$ admin/admin_account.php [NC,L]
RewriteRule ^admin/dashboard/profile_settings?$ admin/profile_settings.php [NC,L]
RewriteRule ^admin/dashboard/open_tickets?$ admin/open_tickets.php [NC,L]
RewriteRule ^admin/dashboard/activity_log?$ admin/activity_log.php [NC,L]
RewriteRule ^admin/dashboard/admin_logout?$ admin/logout.php [NC,L]